.requestDemo {
    padding: 0px 30px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
    background-color: #3C3C3C;
    color: white;
    font-size: 16px;
    font-weight: 500;

    &_wrapper {
        width: 100;
        display: flex;
        justify-content: center;
        margin-top: 120px;

        @media(max-width: 1000px) {
            margin-top: 30px;
        }
    }
}


.payment {
    margin-top: 300px !important;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media(max-width: 1000px) {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 300px;
    }

    @media(max-width: 600px) {
        row-gap: 180px;
    }

    &_content {
        max-width: 640px;
        width: 100%;

        &_decor {
            position: relative;
            z-index: 0;
            width: 100% !important;
            align-items: baseline;
            top: -150px;
            left: -80px;

            @media(max-width: 600px) {
                top: -50px;
                left: 0px;
            }

            img {
                @media(max-width: 600px) {
                    width: 500px;
                }
            }
        }

        &_key {
            width: 100% !important;
            align-items: start;
            top: 50px;
            left: -50px;

            @media(max-width: 600px) {
                left: 0px;
                top: 0px;

                img {
                    width: 350px;
                }
            }
        }
    }

    &_subheader {
        font-weight: 900;
        font-size: 18px;
        position: relative;
        z-index: 1;
    }

    &_header {
        margin-top: 8px;
        font-size: 50px;
        font-family: 'Bebas Neue';
        color: $pc;
        position: relative;
        z-index: 1;

        @media(max-width: 600px) {
            font-size: 30px;
        }
    }

    &_text {
        margin-top: 16px;
        font-size: 16px;
        position: relative;
        z-index: 1;
    }

    &_decor {
        height: 400px;
        display: flex;
        align-items: center;


        @media(max-width: 1000px) {
            align-items: baseline;
            width: 100% !important;
            justify-content: center;
            height: 440px;
        }

        @media(max-width: 600px) {
            height: 240px;
        }

        &_add {
            left: -190px;

            @media(max-width: 1000px) {
                left: 0px;

                align-items: baseline;
            }

            @media(max-width: 600px) {
                img {
                    width: 340px;
                }
            }
        }

    }
}